{
    "database": {
        "engine": "{{engine}}",
        "client": {
            "server": "{{server}}",
            "database": "{{database}}",
            "user": "{{user}}",
            "password": "{{password}}",
            "port": ""
        }
    },
    "outDir": "./dist",
    "fieldDir": "./field"
}